// 
// user-variables.scss
// Use this to override Bootstrap and Cartzilla variables
//

// Example of a variable override to change Cartzilla background color
// Remove the "//" to comment it in and see it in action!
// $body-bg: #12263F;
// Brand colors
$primary:               #1b1ed6 !default;
$accent:                #21a33e !default;
$secondary:             #0000 !default;
$info:		              #69b3fe !default;
$success:               #42d697 !default;
$warning:               #18ca44 !default;
$danger:                #f34770 !default;
$light:                 $white !default;
$dark:                  $gray-800 !default;